<div ng-app='dashboard'>
   <!-- External stylesheet link -->
   <link rel="stylesheet" href="stylesheets/style.css">
   <link rel="stylesheet" href="stylesheets/dashboard.css">
   <link rel="stylesheet" href="bower/morris.js/morris.css">

   <!--Main body starts-->
   <section>
      <header>
         <nav class="rad-navigation">
            <div class="rad-logo-container">
               <a href="#" class="rad-logo"><i class=" fa fa-home"></i> eNivas</a>
               <a href="#" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
            </div>
            <a href="#" class="rad-logo-hidden">eNivas</a>
            <div class="rad-top-nav-container">
               <a href="" class="brand-icon"><i class="fa fa-home"></i></a>
               <ul class="pull-right links">
                  <li class="rad-dropdown no-color">
                     <a class="rad-menu-item" href="#"><img class="rad-list-img sm-img" src="https://lh4.googleusercontent.com/-GXmmnYTuWkg/AAAAAAAAAAI/AAAAAAAAAAA/oK6DEDS7grM/w56-h56/photo.jpg" alt="me" /></a>
                     <ul class="rad-dropmenu-item sm-menu">
                        <li class="rad-notification-item">
                           <a class="rad-notification-content lg-text" href="#"><i class="fa fa-edit"></i> My Profile</a>
                        </li>
                        <li class="rad-notification-item">
                           <a class="rad-notification-content lg-text" href="#"><i class="fa fa-power-off"></i> Sign out</a>
                        </li>
                     </ul>
                  </li>
                  <li class="rad-dropdown"><a class="rad-menu-item" href="#"><i class="fa fa-cog"></i></a>
                     <ul class="rad-dropmenu-item rad-settings">
                        <li class="rad-dropmenu-header"><a href="#">Settings</a></li>
                        <li class="rad-notification-item text-left">
                           <div class="pull-left"><i class="fa fa-link"></i></div>
                           <div class="pull-right"><label class="rad-chk-pin pull-right">
								  								<input type="checkbox"/><span></span></label></div>
                           <div class="rad-notification-body">
                              <div class="lg-text">Change to Flat Theme</div>
                              <div class="sm-text">Flattify it</div>
                           </div>
                        </li>
                        <li id="rad-color-opts" class="rad-notification-item text-left hide">
                           <div class="pull-left"><i class="fa fa-puzzle-piece"></i></div>
                           <div class="pull-right">
                              <div class="rad-color-swatch">
                                 <label class="colors rad-bg-crimson rad-option-selected"><input type="radio" checked name="color" value="crimson"/></label>
                                 <label class="colors rad-bg-teal"><input type="radio" name="color" value="teal"/></label>
                                 <label class="colors rad-bg-purple"><input type="radio" name="color" value="purple"></label>
                                 <label class="colors rad-bg-orange"><input type="radio" name="color" value="orange"/></label>
                                 <label class="colors rad-bg-twitter"><input type="radio" name="color" value="twitter"/></label>
                              </div>
                           </div>
                           <div class="rad-notification-body">
                              <div class="lg-text">Choose a color</div>
                              <div class="sm-text">Make it colorful</div>
                           </div>
                        </li>
                     </ul>
                  </li>
               </ul>
               <ul class="pull-right links">
                  <li>
                     <a class="rad-menu-item" href="#"><i class="fa fa-comment-o"><span class="rad-menu-badge rad-bg-success">0</span></i></a>
                  </li>
                  <li class="rad-dropdown"><a class="rad-menu-item" href="#"><i class="fa fa-envelope-o"><span class="rad-menu-badge rad-bg-primary">23</span></i></a>
                     <ul class="rad-dropmenu-item">
                        <li class="rad-dropmenu-header"><a href="#">Your Notifications</a></li>
                        <li class="rad-notification-item text-left">
                           <a class="rad-notification-content" href="#">
                              <div class="pull-left"><i class="fa fa-html5 fa-2x"></i>
                              </div>
                              <div class="rad-notification-body">
                                 <div class="lg-text">Introduction to fetch()</div>
                                 <div class="sm-text">The fetch API</div>
                              </div>
                           </a>
                        </li>
                        <li class="rad-notification-item text-left">
                           <a class="rad-notification-content" href="#">
                              <div class="pull-left"><i class="fa fa-bitbucket fa-2x"></i>
                              </div>
                              <div class="rad-notification-body">
                                 <div class="lg-text">Check your BitBucket</div>
                                 <div class="sm-text">Last Chance</div>
                              </div>
                           </a>
                        </li>
                        <li class="rad-notification-item text-left">
                           <a class="rad-notification-content" href="#">
                              <div class="pull-left"><i class="fa fa-google fa-2x"></i>
                              </div>
                              <div class="rad-notification-body">
                                 <div class="lg-text">Google Account</div>
                                 <div class="sm-text">sathishlxg@gmail.com</div>
                              </div>
                           </a>
                        </li>
                        <li class="rad-dropmenu-footer"><a href="#">See all notifications</a></li>
                     </ul>
                  </li>
                  <li class="rad-dropdown"><a class="rad-menu-item" href="#"><i class="fa fa-bell-o"><span class="rad-menu-badge">49</span></i></a>
                     <ul class="rad-dropmenu-item">
                        <li class="rad-dropmenu-header"><a href="#">Your Alerts</a></li>
                        <li class="rad-notification-item text-left">
                           <a class="rad-notification-content" href="#">
                              <div class="pull-left"><i class="fa fa-html5 fa-2x"></i>
                              </div>
                              <div class="rad-notification-body">
                                 <div class="lg-text">Introduction to fetch()</div>
                                 <div class="sm-text">The fetch API</div>
                                 <em class="pull-right sm-text"><i class="fa fa-clock-o"></i> 2 sec ago</em>
                              </div>
                           </a>
                        </li>
                        <li class="rad-notification-item text-left">
                           <a class="rad-notification-content" href="#">
                              <div class="pull-left"><i class="fa fa-bitbucket fa-2x"></i>
                              </div>
                              <div class="rad-notification-body">
                                 <div class="lg-text">Check your BitBucket</div>
                                 <div class="sm-text">Last Chance</div>
                                 <em class="pull-right sm-text"><i class="fa fa-clock-o"></i> 49 mins ago</em>
                              </div>
                           </a>
                        </li>
                        <li class="rad-notification-item text-left">
                           <a class="rad-notification-content" href="#">
                              <div class="pull-left"><i class="fa fa-google fa-2x"></i>
                              </div>
                              <div class="rad-notification-body">
                                 <div class="lg-text">Google Account</div>
                                 <div class="sm-text">sathishlxg@gmail.com</div>
                                 <em class="pull-right sm-text"><i class="fa fa-clock-o"></i> 2 days ago</em>
                              </div>
                           </a>
                        </li>
                        <li class="rad-dropmenu-footer"><a href="#">See all alerts</a></li>
                     </ul>
                  </li>
                  <!--<li class="rad-dropdown"><a class="rad-menu-item" href="#"><i class="fa fa-cog"></i></a>
												<ul class="rad-dropmenu-item rad-settings">
														<li class="rad-dropmenu-header"><a href="#">Settings</a></li>
													  <li class="rad-notification-item text-left">																
																<div class="pull-left"><i class="fa fa-link"></i></div>
																<div class="pull-right"><label class="rad-chk-pin pull-right">
								  								<input type="checkbox"/><span></span></label></div>
																<div class="rad-notification-body">
																		<div class="lg-text">Change to Flat Theme</div>
																		<div class="sm-text">Flattify it</div>																		
																</div>
														</li>
													  <li id="rad-color-opts" class="rad-notification-item text-left hide">				
																<div class="pull-left"><i class="fa fa-puzzle-piece"></i></div>
																<div class="pull-right">
																	<div class="rad-color-swatch">
																		<label class="colors rad-bg-crimson rad-option-selected"><input type="radio" checked name="color" value="crimson"/></label>
																		<label class="colors rad-bg-teal"><input type="radio" name="color" value="teal"/></label>
																		<label class="colors rad-bg-orange"><input type="radio" name="color" value="orange"/></label>
																	</div>
														 		</div>
																<div class="rad-notification-body">
																		<div class="lg-text">Choose a color</div>
																		<div class="sm-text">Make it colorful</div>																		
																</div>
														</li>
												</ul>
										</li>
										<li class="rad-dropdown">
												<a class="rad-menu-item" href="#"><img class="rad-list-img sm-img" src="https://lh4.googleusercontent.com/-GXmmnYTuWkg/AAAAAAAAAAI/AAAAAAAAAAA/oK6DEDS7grM/w56-h56/photo.jpg" alt="me" /></a>
												<ul class="rad-dropmenu-item sm-menu">
														<li class="rad-notification-item">
																<a class="rad-notification-content lg-text" href="#"><i class="fa fa-edit"></i> My Profile</a>
														</li>
														<li class="rad-notification-item">
																<a class="rad-notification-content lg-text" href="#"><i class="fa fa-power-off"></i> Sign out</a>
														</li>
												</ul>
										</li>-->
               </ul>
            </div>
         </nav>
      </header>
   </section>
   <aside>
      <nav class="rad-sidebar">
         <ul>
            <li>
               <a href="#" class="inbox">
                  <i class="fa fa-dashboard"><span class="icon-bg rad-bg-success"></span></i>
                  <span class="rad-sidebar-item">Dashboard</span>
               </a>
            </li>
            <li>
               <a href="#">
                  <i class="fa fa-bar-chart-o">
						<span class="icon-bg rad-bg-danger"></span>
					</i>
                  <span class="rad-sidebar-item">Ticket status</span>
               </a>
            </li>
            <li><a href="#" class="snooz"><i class="fa fa-line-chart"><span class="icon-bg rad-bg-primary"></span></i><span class="rad-sidebar-item">Call trends</span></a></li>
            <li><a href="#" class="done"><i class="fa fa-area-chart"><span class="icon-bg rad-bg-warning"></span></i><span class="rad-sidebar-item">Heat maps</span></a></li>
             <li><a href="#" class="snooz"><i class="fa fa-line-chart"><span class="icon-bg rad-bg-primary"></span></i><span class="rad-sidebar-item">Call trends</span></a></li>
            <li><a href="#" class="done"><i class="fa fa-area-chart"><span class="icon-bg rad-bg-warning"></span></i><span class="rad-sidebar-item">Heat maps</span></a></li>
          <li><a href="#" class="snooz"><i class="fa fa-line-chart"><span class="icon-bg rad-bg-primary"></span></i><span class="rad-sidebar-item">Call trends</span></a></li>
            <li><a href="#" class="done"><i class="fa fa-area-chart"><span class="icon-bg rad-bg-warning"></span></i><span class="rad-sidebar-item">Heat maps</span></a></li>
          <li><a href="#" class="snooz"><i class="fa fa-line-chart"><span class="icon-bg rad-bg-primary"></span></i><span class="rad-sidebar-item">Call trends</span></a></li>
            <li><a href="#" class="done"><i class="fa fa-area-chart"><span class="icon-bg rad-bg-warning"></span></i><span class="rad-sidebar-item">Heat maps</span></a></li>
          <li><a href="#" class="snooz"><i class="fa fa-line-chart"><span class="icon-bg rad-bg-primary"></span></i><span class="rad-sidebar-item">Call trends</span></a></li>
            <li><a href="#" class="done"><i class="fa fa-area-chart"><span class="icon-bg rad-bg-warning"></span></i><span class="rad-sidebar-item">Heat maps</span></a></li>
            <li>
               <a href="#">
                  <i></i>
                  <span class="rad-sidebar-item">Settings</span>
               </a>
            </li>
            
            
               <li>Section
                  <li>
                     Subsection
                  </li>
               </li>
            
            
         </ul>
      </nav>
   </aside>
   <!-- Content -->
   
   <main>
	<section>
		<div class="rad-body-wrapper">
			<div class="container-fluid">
	         <div ng-view>

            </div>			
			</div>
		</div>
	</section>
</main>

   

   <!-- Template view -->

   <!--Main body ends-->

   <!-- Bootstrap and jquery CDNs -->
   <script src='/bower/jquery/dist/jquery.min.js'></script>
   <script src='/bower/bootstrap/dist/js/bootstrap.min.js'></script>
   <script src='/bower/jquery-ui/jquery-ui.min.js'></script>

   <!-- <script src="js/index.js"></script> -->
   <!-- External javascript link -->
   <script src="/bower/angular/angular.min.js"></script>
   <script src="/bower/angular-route/angular-route.min.js"></script>
   <script src="/bower/highcharts/highcharts.src.js"></script>
   <script src="/bower/highcharts/modules/exporting.src.js"></script>
   <script src="/bower/raphael/raphael.min.js"></script>
   <script src='/bower/morris.js/morris.min.js'></script>
   <script src="/bower/jquery-slimscroll/jquery.slimscroll.min.js"></script>
   

   <script src="/javascripts/index.js"></script>
   <script src="/javascripts/app/app.js"></script>
   <script src="/javascripts/app/route-config.js"></script>
   <script src="/javascripts/app/lifestyle/dashboard.js"></script>

</div>
