<div class="container">
    
   <!--Signin box start-->
   
   <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info" >
         <div class="panel-heading">
            <div class="panel-title">Sign In</div>
            <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
         </div>
         <div style="padding-top:30px" class="panel-body" >
            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
            <form id="loginform" class="form-horizontal" role="form" method="post" action="/">
               
               <!--Error message-->
               {{#if error}}
                   <div id="signinalert" class="alert alert-danger">
                      <p>{{error}}</p>
                      <span></span>
                   </div>
                {{/if}}
               
               <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input id="login-username" type="email" class="form-control" name="email" value="" placeholder="username or email" required>                                        
               </div>
               <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input id="login-password" type="password" class="form-control" name="password" placeholder="password" required>
               </div>
               <div class="input-group">
                  <div class="checkbox">
                     <label>
                     <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                     </label>
                  </div>
               </div>
               <div style="margin-top:10px" class="form-group">
                  <!-- Button -->
                  <div class="col-sm-12 controls">
                     <!--<a id="btn-login"  type="submit" class="btn btn-success">Login  </a>-->
                     <button id="btn-signin" type="submit" class="btn btn-success"><i class="icon-hand-right"></i> &nbsp Signin</button>
                     <a id="btn-fblogin" value="signin" class="btn btn-primary">Login with Facebook</a>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-12 control">
                     <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                        Don't have an account! 
                        <a href="/users/signup" >
                        Sign Up Here
                        </a>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <!--Signin box end-->
  
</div>

