<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <title>eNivas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Reset style -->
  <!--  <link rel="stylesheet" href="css/reset.css"> -->

  <!-- Font awesome and bootstrap CDN links -->
  <link rel='stylesheet prefetch' href='/bower/font-awesome/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='/bower/bootstrap/dist/css/bootstrap.min.css'>

  <!-- External style sheet -->
  <!--  <link rel="stylesheet" href="style.css"> -->

</head>

<body>

  {{{body}}}



</body>

</html>
