<div class="container">
    
   <!--Signup box start-->
   
   <div id="signupbox" style="display:all; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
         <div class="panel-heading">
            <div class="panel-title">Sign Up</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/">Sign In</a></div>
         </div>
         <div class="panel-body" >
            <form id="signupform" class="form-horizontal" role="form" method="post">
               <!--Error message-->
               {{#if error}}
                   <div id="signupalert" style="display:all" class="alert alert-danger">
                      <p>{{error}}</p>
                      <span></span>
                   </div>
                {{/if}}
                               
               <div class="form-group">
                  <label for="email" class="col-md-3 control-label">Email</label>
                  <div class="col-md-9">
                     <input type="email" class="form-control" name="email" placeholder="Email Address" value="{{input.email}}" required />
                  </div>
               </div>
               <div class="form-group">
                  <label for="firstname" class="col-md-3 control-label">First Name</label>
                  <div class="col-md-9">
                     <input type="text" class="form-control" name="firstname" placeholder="First Name" value="{{input.firstname}}" required />
                  </div>
               </div>
               <div class="form-group">
                  <label for="lastname" class="col-md-3 control-label">Last Name</label>
                  <div class="col-md-9">
                     <input type="text" class="form-control" name="lastname" placeholder="Last Name" value="{{input.lastname}}" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="password" class="col-md-3 control-label">Password</label>
                  <div class="col-md-9">
                     <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="mobile" class="col-md-3 control-label">Mobile number</label>
                  <div class="col-md-9">
                     <input type="text" class="form-control" name="mobile" placeholder="Mobile number" value="{{input.mobile}}" required>
                  </div>
               </div>
               <div class="form-group">
                  <!-- Button -->                                        
                  <div class="col-md-offset-3 col-md-9">
                     <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                     <span style="margin-left:8px;">or</span>  
                  </div>
               </div>
               <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
                  <div class="col-md-offset-3 col-md-9">
                     <button id="btn-fbsignup" type="submit" value="signup" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <!--Signup box end-->
   
</div>

